.navColor {
    background: linear-gradient(to right, #552A7F 20%, #663399 100%);
    margin: 0 0 5vh 0
}

.linkColor {
    padding: 0;
    margin: 0vh 5vw
}

.bar:hover {
    color: red;
}

.bar::before {
    content: "";
    display: block;
    height: 5px;
    background-color: white;
    position: relative;
    top: 0;
    width: 0%;
    transition: all ease-in-out 300ms;
}

.bar:hover::before {
    width: 100%
}