.jumboStyle {
    background: linear-gradient(to bottom, #552A7F 20%, #663399 100%);
    color: gold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.signButton {
    background: dodgerblue;
    border: none;
    margin: 10px;
}
